# Build results
[Bb]in/
[Oo]bj/

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates


# System Settings & Secrets (Security)
system_setting
config.dat

# Database
*.db
*.db-shm
*.db-wal
TimeCard.db

# Logs
*.log

# Windows thumbnail
Thumbs.db
